<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
		<link rel="icon" th:href="@{/images/vidasanaico.png}">
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Testimonio</title>
		<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
		<link th:rel="stylesheet" type="text/css" th:href="@{/css/estilo.css}">
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
</head>

<body>
		
		<div class="container">
			<header th:replace="~{layouts/header :: header}"></header>
			<img class="img-fluid my-1" id="img-banner" th:src="@{/images/banner.jpg}" alt="Imagen del banner">
		
			
			<h1 class="titulo-testimonio row justify-content-center">TESTIMONIOS</h1>
			  <div class="container  justify-content-center">
			<div class="row justify-content-center">
				<div><h4 class="row justify-content-center p-3">BUSCAR POR FECHA</h4></div>
				<div class="col-5">				
				 	<form class="row g-2 needs-validation" th:action="@{/testimonio/buscar}" method="post">					
						<div class="mb-3 row">
    						<label for="fecha" class="col-sm-4 col-form-label">Fecha:</label>
    						<div class="col-sm-8">
      							<input th:value="${#temporals.format(fecha, 'yyyy-MM-dd')}" type="date" class="form-control" id="fecha" name="fecha" required>
    						</div>
  						</div>
									    
						   
						    <div class="col-12">
								<input type="submit" class="btn btn-success" th:value="'BUSCAR POR FECHA'">
								<a  class="btn btn-success" th:href="@{/testimonio/listado}" role="button">LISTADO COMPLETO</a><br>
							</div>						    
					</form>	<br>	
				</div>
			</div>	
			</div> <a th:unless="${edicion}" th:href="@{/testimonio/nuevo}"><button type="button" class="btn btn-success">AGREGAR NUEVO TESTIMONIO</button></a>
			    	<a th:if="${edicion}"class="btn btn-success" th:href="@{/index}" role="button">SALIR</a><br><br>
			
			  <div class="cuerpo-titulo row align-items-start">
			   
			   <div class=" cuerpo-titulo row row-cols-1 row-cols-md-3 ">
					  <div class="col bg-success p-2 text-dark bg-opacity-50">
			     		<div class="card bg-success p-2 text-dark bg-opacity-50" style="width: 100%;">
							  <div class="card-body card-body-testimonio" >
							    <h5 class="card-title card-title-testimonio">HOLA!! COMO ESTAN?</h5>
							    <p class="card-text card-text-testimonio"> Esperamos que disfrutes de la alimentación saludable tanto como 
    								nosotros y encuentres los resultados que estes buscando y al mismo tiempo que puedas divertirte cocinando, 
    								relajarte y desconectarte de todo lo demás! Déjanos tus comentarios porque nos encanta escucharte y siempre
    								 estamos abiertos a tus sugerencias. </p>
	  							 <div> <img src="/images/correr.jpg" class="card-img-top" alt="fotito">		</div>
							  </div>
						</div>
				</div>
				<div class="card card-testimonio" style="width: 18rem" th:each="testi: ${testimonio}">
					  <img src="/images/usuario.jpeg" class="card-img-top" alt="logo_usuario">
					  <div class="card-body bg-success p-2 text-dark bg-opacity-50" >
					  	    <p  th:text= "'Comentario: '+${testi.comentario}"> </p><br>
					 	    <ul class="list-group list-group-flush bg-success p-2 text-dark bg-opacity-50 list-group-testimonio">
					 	    <li class="list-group-item bg-success p-2 text-dark bg-opacity-50" th:text= "'Usuario: '+ ${testi.usuario.nombre}"></li>
					        <li class="list-group-item bg-success p-2 text-dark bg-opacity-50" th:text = "'Fecha: ' + ${testi.fecha}" ></li>
	                        </ul><br>
				   		   <a th:if="${edicion}" class="btn btn-success" th:href="@{/testimonio/modificar/}+${testi.id}" role="button">Editar</a>								
	                		<a th:if="${edicion}" class="btn btn-success" th:href="@{/testimonio/eliminar/}+${testi.id}" role="button">Eliminar</a>	
					</div>
				</div>	
								   
			  </div>
					   		
			 </div><br>
			    				    </div>	
		    	
	<div class="container pie-pagina">
		<footer th:replace="~{layouts/footer :: footer}"></footer>
	</div>
	
	<script th:fragment="script_bootstrap" type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>

