<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<footer th:fragment ="footer">
			<div class="container" id="fondo-color-footer">
				<div class="row">
      				<div class="col-lg-6">
        				<img th:src="@{/images/vidasanaico.png}" id="imagen-pie-vidasana" class="rounded float-start navbar-brand" alt="pie-vidasana">
      				</div>
      				<div class="col-lg-2">
        				<h3>Sección</h3>
        				<p>Info</p>
        				<p>Info</p>
        				<p>Info</p>
      				</div>
      				<div class="col-lg-2">
        				<h3>Sección</h3>
        				<p>Info</p>
        				<p>Info</p>
        				<p>Info</p>
      				</div>
      				<div class="col-lg-2">
        				<h3>Sección</h3>
        				<p>Info</p>
        				<p>Info</p>
        				<p>Info</p>
      				</div>
    			</div>
			</div>
			<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
  			<script th:src="@{https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js}"></script>
		</footer>
	</body>
</html>