<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<footer th:fragment ="footer">
			<div class="container" id="fondo-color-footer">
				<div class="row">
      				<div class="col-lg-6">
        				<img th:src="@{/images/vidasanaico.png}" id="imagen-pie-vidasana" class="rounded float-start navbar-brand" alt="pie-vidasana">
      				</div>
      			    <div class="col-lg-2">
        				<a style="list-style:none; display:inline-flex; text-decoration: none;" th:href="@{/index}"><h3>Consejos</h3></a>
        				<p>Camina</p>
        				<p>Bebe agua</p>
        				<p>Come una fruta</p>
      				</div>
      				<div class="col-lg-2">
        				<a style="list-style:none; display:inline-flex; text-decoration: none;" th:href="@{/index}"><h3>Consejos</h3></a>
        				<p>Haz ejercicio</p>
        				<p>Cena ligero</p>
        				<p>No coma lo mismo</p>
      				</div>
      				<div class="col-lg-2">
        				<a style="list-style:none; display:inline-flex; text-decoration: none;" th:href="@{/index}"><h3>consejos</h3></a>
        				<p>Mastique despacio</p>
        				<p>Desayune</p>
        				<p>Acuda a un experto</p>
      				</div>
    			</div>
    			<P style="text-align: center;">Copyright 2023 - Vida Sana - Diseñado por Grupo 9 – Jujuy – República Argentina</P>
			</div>
			<script th:src="@{https://code.jquery.com/jquery-3.6.0.min.js}"></script>
  			<script th:src="@{https://unpkg.com/@popperjs/core@2.11.6/dist/umd/popper.min.js}"></script>
		</footer>
	</body>
</html>