<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<header th:fragment="header">
			<nav class="navbar navbar-expand-lg bg-body-tertiary" id="fondo-color-nav">
	        	<div class="container">
	          		<img th:src="@{/images/vidasana.png}" class="rounded float-start navbar-brand" id="imagen-logo-vidasana" alt="logo-vidasana">
	          		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	            		<span class="navbar-toggler-icon"></span>
	         		</button>
	          		<div class="collapse navbar-collapse cuerpo-drop" id="navbarNav">
	            		<ul class="navbar-nav ms-auto">
	              			<li class="nav-item">
	                			<a class="nav-link active" aria-current="page" id="letra-nav" th:href="@{/index}">Inicio</a>
	              			</li>
	             			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/usuario/nuevo}" id="letra-nav" >Registrarme</a>
	             		 	</li>
	             		 	<li class="nav-item dropdown">
          						<a class="nav-link dropdown-toggle" id="letra-nav"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            						Servicios
          						</a>
          						<div class="fondo-drop">
									<ul class="dropdown-menu">
            							<li><a class="dropdown-item"  id="letra-drop" th:href="@{/servicios/imc}">Calcular IMC</a></li>
           	 							<li><a class="dropdown-item" id="letra-drop" th:href="@{/servicios/loginpesoideal}">Peso Ideal</a></li>
          							</ul>
								</div>
        					</li>
	              			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/recetas/listado}" id="letra-nav">Recetas</a>
	              			</li>
	              			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/testimonio/listado}" id="letra-nav">Testimonios</a>
	              			</li>
	              			<li class="nav-item">
	                			<a class="nav-link" th:href="@{/contactos}" id="letra-nav">Contáctanos</a>
	              			</li>
	              			<li class="nav-item dropdown" style="margin-right: auto;">
          						<a class="nav-link dropdown-toggle" id="letra-nav"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
            						Gestión de Datos
          						</a>
          						<div class="fondo-drop ml-auto" style="right: 0; left: unset;">
									<ul class="dropdown-menu">
            							<li><a class="dropdown-item"  id="letra-drop" th:href="@{/gestion/inicio(numero=1)}">Alta Receta</a></li>
           	 							<li><a class="dropdown-item" id="letra-drop" th:href="@{/gestion/inicio(numero=2)}">Modificar/Eliminar Receta</a></li>
           	 							<li><a class="dropdown-item"  id="letra-drop" th:href="@{/gestion/inicio(numero=3)}">Alta Ingrediente</a></li>
           	 							<li><a class="dropdown-item" id="letra-drop" th:href="@{/gestion/inicio(numero=4)}">Modificar/Eliminar Ingrediente</a></li>
           	 							<li><a class="dropdown-item" id="letra-drop" th:href="@{/gestion/inicio(numero=5)}">Alta Usuario</a></li>
           	 							<li><a class="dropdown-item" id="letra-drop" th:href="@{/gestion/inicio(numero=6)}">Modificar/Eliminar Usuario</a></li>
           	 							<li><a class="dropdown-item mr-auto"  id="letra-drop" th:href="@{/gestion/inicio(numero=7)}">Modificar/Eliminar Testimonio</a></li>           	 							
          							</ul>
								</div>
        					</li>
	            	   </ul>
	          		</div>
	        	</div>
      		</nav>
		</header>
	</body>
</html>