/* REGLA GENERAL */

body{
	background-color: #E8F5E9;
}

/* FIN REGLA GENERAL */

/* ENCABEZADO */

header #fondo-color-nav{
	box-shadow: -3px 5px 3px 0px #555;
	color: #FFFFFF; 
	background-color: #00E676 !important;
}

.cuerpo-drop ul li .fondo-drop ul{
	background-color: #00E676 !important;
}

#letra-drop{
	color: #FFFFFF;
	font-family: 'Play', sans-serif;
  	font-size: 20px;
}

#letra-drop:hover{
	color: rgb(0, 128, 0);
}

#imagen-logo-vidasana{
	width: 250px;
	height: 75px;
}

#letra-nav{
	color: #FFFFFF;
	font-family: 'Play', sans-serif;
  	font-size: 20px;
}

#letra-nav:hover{
	color: yellow;
}

.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-banner {
  width: 100%;
  height: 200px;
  box-shadow: -3px 5px 3px 0px #555;
}

/* FIN ENCABEZADO */

/* PÁGINA INDEX */

/* CSS PARA EL TITULO */
.cuerpo-titulo .titulo-pagina{
	background-color: #00E676;
	border: 5px solid #E8F5E9;
	box-shadow: -3px 5px 3px 0px #555;
	color: white;
	text-align: center;
}

/* CSS PARA LA TARJETA QUIENES SOMOS*/
.cuerpo-tarjeta{
  	justify-content: center;
  	box-shadow: -3px 5px 3px 0px #555;
}

.cuerpo-tarjeta #imagen-tarjeta{
	box-shadow: -3px 5px 3px 0px #555;
}

.cuerpo-texto-tarjeta{
	box-shadow: -3px 5px 3px 0px #555;
	background-color: #00E676;
}

.titulo-tarjeta{
	background-color: #00E676;
	border: 5px solid #E8F5E9;
	color: white;
	text-align: center;
}

.parrafo-tarjeta{
	color: white;
	font-size: 18px;
}

/* FIN PÁGINA INDEX */

/* PIE DE PÁGINA */

.pie-pagina #fondo-color-footer{
	color: #FFFFFF; 
	background-color: #455A64;
	box-shadow: -3px 5px 3px 0px #555;
}

#imagen-pie-vidasana{
	width: 120px;
	height: 120px;
}

/* FIN PIE DE PÁGINA */

/* PÁGINA CONTACTOS*/
.formulario-mensaje{
	background-color: #9CCC65;
	box-shadow: -3px 5px 3px 0px #555;
}

.letra-form{
	color: white;
}

#boton-contacto{
	background-color: #18FFFF;
	color: white;
}

.redes-sociales{
	text-align: center;
}

.enlace-redes{
	text-decoration: none;
	background-color: #00E676;
	border: 5px solid #E8F5E9;
	color: white;
	font-size: 30px;
	box-shadow: -3px 5px 3px 0px #555;
}

/*FIN PÁGINA CONTACTOS*/

/* PAGINA TESTIMONIOS */
.titulo-testimonio {
		background-color: #00E676;
		border: 5px solid #E8F5E9;
		border: 5px solid #E8F5E9;
		color: white;
		font-size: 30px;
		box-shadow: -3px 5px 3px 0px #555;
}
.card-title-testimonio {
		font-family: 'Play', sans-serif;
		color: black;
}

.card-text-testimonio{
		font-family: 'Play', sans-serif;
		color: black;
}

.card-body-testimonio {
		font-family: 'Play', sans-serif;
		color: black;
}

.list-group-testimonio {
		font-family: 'Play', sans-serif;
		color: black;
}

.card-testimonio {
		background-color: #00E676;
		color: black;
}

/* FIN PAGINA TESTIMONIOS*/

